


<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  autoplay: {
   delay: 5000,
 },
});
</script>
<script>
  $('#a').hover(
    function(){
      $('.grid').css('opacity',1);
      $('.grid').css('transform','translateY(0)')
    },
    function(){
      $('.grid').css('opacity',0);
      $('.grid').css('transform','translateY(+10%)')
    }
  );
  console.log(document.getElementsByClassName('grid')[0].classList);
</script>
</body>
</html>