<%- include('partials/header') -%>

<section class="about">
    <div class="outer">
        <div class="main">
            <img src="profile.jpg" alt="">
            <p><span style="display: block;">Hi,</span><br>I am a college student, Tech Enthusiast and a geek trying to find the purpose of his existance and making friends on the way. I love reading books and watching movies with a hint of development on the side.</p>
        </div>
        <a style="display: block;text-align: center;"><i class="fa fa-thin fa-angle-down fa-3x"></i></a>
    </div>   
</section>

<section class="projects">
<h1>Hello</h1>
</section>

<section class="skills">

</section>

<section class="contact"> 

</section>
<%- include("partials/footer") -%>