<%- include('partials/header') -%>
<div class="container" >
<section class="about">
    <div class="outer">
        <div class="main">
            <div class="imgFont">
                <div class="fontArt">
                    <h1 class="main" style="font-family: 'Gustera',san-serif; font-size: 6rem;">Arshdeep</h1>
                    <h1 class="secondary">Singh</h1>
                </div>
                <img id="profile" src="profile.jpg" alt="">
            </div>
            <p><span style="display: block;">Hi,</span><br>I am a college student, Tech Enthusiast and a geek trying to find the purpose of his existance and making friends on the way. I love reading books and watching movies with a hint of development on the side.</p>
        </div>
        <a style="display: block;text-align: center;"><i class="fa fa-thin fa-angle-down fa-3x"></i></a>
    </div>   
</section>

<section class="projects">
    <div class="outer">
        <h1 class="main">My Projects</h1>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/1.jpg" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
                <div class="swiper-slide">
                    <img src="images/2.jpg" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
                <div class="swiper-slide">
                    <img src="images/3.jpg" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>
            <div class="swiper-button-prev" style="color: white;"></div>
            <div class="swiper-button-next" style="color: white;"></div>
        </div>
    </div>
</section>

<section class="skills">
    <div class="outer">
        <svg width="248" height="248" viewBox="0 0 248 248" fill="none" xmlns="http://www.w3.org/2000/svg" style="text-align: center;margin:0 auto 0 auto">
            <circle cx="123.5" cy="123.5" r="58" stroke="white" stroke-width="5" id="one" style="width: 30vw;"/>
            <circle cx="124" cy="124" r="81.5" stroke="white" stroke-width="3" id="two"/>
            <circle cx="124" cy="124" r="104" stroke="white" stroke-width="2" id="three"/>
            <circle cx="124" cy="124" r="123.5" stroke="white" id="four"/>
        </svg>
        <h1 class="main">Skills</h1>
    </div>
</section>

<section class="contact"> 
    <div class="outer">
        <div class="fontArt">
            <h1 class="Main">Contact</h1>
            <h1 class="secondary">Me</h1>
        </div>
        <div class="links">
            <div class="row1">
                <a href="https://www.instagram.com/arshdeepsingh._._"><img src="images/ins.png" alt="" style="width: 14vw;"></a>
                <a href="https://linkedin.com/in/arshdeep-singh-924618188"><img src="images/lin.png" alt="" style="width: 14.5vw;"></a>
            </div>
            <div class="row2">
                <a href="https://twitter.com/arshdeep245"><img src="images/twi.png" alt="" style="width: 14vw;"></a>
                <a href="https://github.com/arshi45"><img src="images/git.png" alt="" style="width: 12.5vw; margin-left: 3vw;margin-top:-.6vh ;"></a>
            </div>
        </div>
    </div>
</section>
</div>
<%- include("partials/footer") -%>