<%- include('partials/header') -%>

<section class="about">
    <div class="outer">
        <div class="main">
            <img id="profile" src="profile.jpg" alt="">
            <p><span style="display: block;">Hi,</span><br>I am a college student, Tech Enthusiast and a geek trying to find the purpose of his existance and making friends on the way. I love reading books and watching movies with a hint of development on the side.</p>
        </div>
        <a style="display: block;text-align: center;"><i class="fa fa-thin fa-angle-down fa-3x"></i></a>
    </div>   
</section>

<section class="projects">
    <div class="outer">
        <h1 class="main">My Projects</h1>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/1.jpg" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
                <div class="swiper-slide"><h1>w</h1></div>
                <div class="swiper-slide"><h1>E</h1></div>
            </div>
            <div class="swiper-button-prev" style="color: white;"></div>
            <div class="swiper-button-next" style="color: white;"></div>
        </div>
    </div>
</section>

<section class="skills">
    <div class="outer">
        <h1 class="main">Skills</h1>
    </div>
</section>

<section class="contact"> 
    <div class="outer">
        <div class="fontArt">
            <h1 class="Main">Contact</h1>
            <h1 class="secondary">Me</h1>
        </div>
    </div>
</section>
<%- include("partials/footer") -%>