<%- include('partials/header') -%>

<section class="about">
    <div>
        <img src="profile.jpg" alt="">
        <p>Hi,I am a college student, Tech Enthusiast and a geek trying to find the purpose of his existance and making friends on the way. I love reading books and watching movies with  a little hint of development on the side.</p>
    </div>
</section>

<section class="projects">
<h1>Hello</h1>
</section>

<section class="skills">

</section>

<section class="contact"> 

</section>
<%- include("partials/footer") -%>