body{
    padding: unset;
    margin: unset;
}

section{
    height: 100vh;
    padding: unset;
    margin: unset;
}

.about div .main{
    display: flex;
    color: aliceblue;
    flex-direction: row;
    font-size: 2rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 56px 0 56px;
    font-family: "Roboto Mono",monospace;
    font-weight: 300;
   
}

.outer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    height: 100vh;
    justify-content: center;
    padding-top: 18vh;
}

a{
    margin-bottom: 40px;
    margin-top: 14vh;
}

#profile{
    border-radius: 100%;
    height: 42vh;
    margin-left: 8vw;
}

p{
    width: 40vw;
}

.block{
    margin: unset;
}

.swiper {
    width: 80vw;
    height: 100vh;
  }

.swiper-slide{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Roboto Mono",monospace;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 10vh;
}

.swiper-slide img{
    width: 30vw;
    border-radius: 50px;
    margin-left: 5vw;
    margin-right: 3vw;
    height: 60vh;
    
}

h1{
  font-family: 'Gloria Hallelujah',sans-serif; 
  text-align: center;
  font-size: 5.5rem;
}

.swiper-slide p{
    padding-right:2vw;
}