body{
    padding: 0;
    margin: 0;
}

section{
    flex: none;
    height: 100vh;
    max-width: 100vw;
    padding: 0px;
    margin: 0px;
    scroll-snap-align: start;
    transition: 1s;
}

.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    overflow-y: scroll;
}

.about .main{
    display: flex;
    color: aliceblue;
    flex-direction: row;
    font-size: 2rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 56px 0 56px;
    font-family: "Roboto Mono",monospace;
    font-weight: 300;
   
}

.outer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    height: 100vh;
    justify-content: center;
}

a{
    margin-bottom: 40px;
}

#profile{
    border-radius: 100%;
    height: 42vh;
    margin-left: 8vw;
    position: relative;
    top: -20vh;
}

p{
    width: 40vw;
}

.block{
    margin: unset;
}

.swiper {
    width: 80vw;
    height: 100vh;
  }

.swiper-slide{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Roboto Mono",monospace;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 10vh;
}

.swiper-slide img{
    width: 30vw;
    border-radius: 50px;
    margin-left: 5vw;
    margin-right: 3vw;
    height: 60vh;
    
}

h1{
    font-family: "Gustera",sans-serif;
    font-size: 6rem;
    text-align: center;
}

.swiper-slide p{
    padding-right:2vw;
}

.secondary{
    position: relative;
    left:100px;
    top: -40px;
    margin: 0;
    font-size: 6rem;
    font-weight: 100;
    font-family: 'MOMCAKE',sans-serif;
    color: #9B9F9B;
}

.main{
    font-size: 6rem;
    font-family: "Gustera",sans-serif;
    font-weight: 100;
    margin: 0;
}

.contact .outer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.skillCol{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    z-index: auto;
    top: 50vh;
}

.projects .outer{
    padding-top: 6vh;
}

.links{
    margin: unset;
}


.skills .outer img{
    width: 8vw;
}

.skills .grid{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4vw;
    padding: 10px;
    position: relative;
    z-index: auto;
    top: -12vh;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end: 2;
}

.item4{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-right: 12vw;
}

.item5{
    grid-column-start: 3;
    grid-column-end: 4;

}

.item2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:1 ;
    grid-row-end: 2;
}

.item6{
    grid-row-start:4 ;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-right: 6vw;
}

.item7{
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid{
    opacity: 0;
    transform: translateY(+10%);
    transition: .6s ease-in;
}

#a:hover+.grid{
    opacity: 1;
    transform: translateY(0);
}

.skills p{
    font-family: 'Roboto',monospace;
}

.links img{
    margin: 30px;
}

.imgFont .fontArt{
    position: relative;
    z-index: 1;
    left: -8vw;
    top: -8vh;
}

.fontArt{
    margin: unset;
    padding: unset;
}

.imgFont{
    margin: unset;
}

.links a{
    margin: unset;
    padding: unset;
}

#one{
    animation:1s ease-in 4s alternate infinite;
    animation-name: test;
}

@keyframes test {
    from{
       opacity: 1;
    }
    to{
        stroke-width: 1;
    }
}

#two{
    animation:1s ease-in 3s alternate infinite;
    animation-name: test-2;
}

@keyframes test-2 {
    from{
        opacity: 1;
    }
    to{
        stroke-width: 5;
    }
}

#three{
    animation: 1s ease-in 2s alternate infinite;
    animation-name: test-3;
}

@keyframes test-3 {
    from{
        opacity: 1;
    }
    to{
        stroke-width: 5;
    }
}

#four{
    animation: 1s ease-in 1s alternate infinite;
    animation-name: test-4;
}

@keyframes test-4 {
    from{
        opacity: 1;
    }
    to{
        stroke-width: 5;
    }
}




