body{
    padding: unset;
    margin: unset;
}

section{
    height: 100vh;
    padding: unset;
    margin: unset;
}

.about div .main{
    
    display: flex;
    color: aliceblue;
    flex-direction: row;
    min-height: 88vh;
    max-height: 100vh;
    font-size: 2rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 56px 0 56px;
    font-family: "Roboto Mono",monospace;
    font-weight: 300;
    margin: unset;
}

.outer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    justify-content: center;
}

a{
    margin-bottom: 50px;
}

img{
    border-radius: 100%;
    height: 45vh;
    margin-left: 8vw;
}

p{
    width: 40vw;
}